@import '~react-md/src/scss/react-md';

// TODO use scss features if using that
// for ex: p, h2, span of landing-container can be defined inside the same class.
.landing-container{
  height: 90vh;
  background-color:	rgb(40,40,40);
}

.landing-container p{
  color:white;
  text-align: justify;
  width: 60%;
}

.main-content{
  height: 80vh;
}

.landing-container h2{
  color: white;
  text-align: center;
}

.landing-container span{
  color:white;
}

.goals button{
  background-color:	rgb(31, 31, 31);
  color:black;
  border-radius: 50%;;
  width:100px;
  height: 100px;
}

.pill{
  border-radius: 10px;
}

// .intro-para