.form-container {
  border: 1px rgb(233, 228, 228) solid;
  height: 50%;
  width: 30%;
  float: right;
  margin:5%;
  margin-top: 10%
}

.form-wrapper{
  padding:10px;
  
}

.login-button
{
  margin-top: 2%;
  padding:10px;
}