@import '~react-md/src/scss/react-md';

.registration-div {
  align-self: center;
  display: flex;
  flex-direction: column;
  border: 1px lightgray solid;  
  padding: 2%;
  width : fit-content;
}

.registration-btn {
  align-self: center;
  width: fit-content;
}

.main-content-container-div {
  display: flex;
  flex-direction: column;
  margin:5%;
}
